html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica;
  background: #f9fbfd;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: black;
}

h2 {
  font-size: 24px;
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
}

.react-calendar {
  border: none;
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 0;

  .react-calendar__navigation__label {
    font-weight: 300;
    pointer-events: none;
    color: rgb(121, 136, 146);
  }

  .react-calendar__navigation__arrow {
    flex-grow: 0.333;
  }
}
.react-calendar__month-view__weekdays__weekday {
  color: rgb(121, 136, 146);
  font-weight: 300;

  & > abbr {
    text-decoration: none;
  }
}

.react-calendar__month-view__days__day {
  color: rgb(121, 136, 146);
  font-weight: 300;
}

.react-calendar__tile--active {
  border-radius: 50%;
  color: white;
}
